.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.boardRow {
   display: flex; 
   flex-direction: row;
}


/*-----------------tiles---------------*/


.witheTile {
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 0;
    border: solid;
}

.blackTile {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 4rem;
    height: 100px;
    width: 100px;
    border-radius: 0;
    border: none;

}
